<% @users.each do |user| %>
  <div class="accounts">
     <%= user.email %>
     <br>
      <% if @current_user.admin? %>
        <%= link_to "Remove Account", user_path(user.id), :method => "delete", :data => { :confirm => "are you sure" }, :class=> "remove_account" %>
    <% end %>
  </div>
<% end %>
