  <% if @current_user.present? %>
    <div class="welcome_message">
      <h1>Welcome <%= @current_user.name %>!</h1>
    </div>
    <% else %>
    <div class="welcome_message">
    <h1>Welcome to Photospread</h1>
    </div>
  <% end %>
