<div >Showing album:
  <p><%= @album.name %></p>
  <% @album.images.each do |i| %>
    <%= cl_image_tag(i) %>
  <% end %>
</div>

<div class="controls">
  <% if @current_user.present? && (@current_user.albums.include?(@album) || @current_user.admin?) %>
  <%= button_to "Delete Album", album_path(@album.id), :class => 'btn btn-success', :method => "delete", :data => { :confirm => "are you sure" } %>
  <% end %>
</div>
